<%= form_for @new_listing do |form| %>
  <div class="text-field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="checkboxes">
    <%= form.label "Wifi" %>
    <%= form.check_box :wifi %>
    <%= form.label "Shower" %>
    <%= form.check_box :shower %>
    <%= form.label "tv" %>
    <%= form.check_box :tv %>
  </div>

  <div class="submit-field">
    <%= form.submit %>
  </div>
<% end %>
